header {
  display: flex;
  justify-content: center;
}

.articles-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 300px;
  flex-grow: 1;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}