* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.page {
    position: absolute;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgb(0, 4, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    font-size: 16px;
    font-family: monospace;
    width: 300px;
    padding: 16px;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-label {
    margin-bottom: 4px;
}

.form-input {
    height: 32px;
    border-radius: 4px;
    border: 1px solid #808080
}

.submit-button {
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    width: -webkit-fill-available;
}

input:invalid {
    border: 3px solid red;
}