@import 'layout.scss';
* {
    box-sizing: border-box;
}

html {
    font-family: Verdana;
}

.page {
    width: 100vw;
}

.navigation {
    background-color: #ff7f50;
}

.product-list {
    background-color: #006400;
}

.news {
    background-color: #0ff;
}

.block {
    display: flex;
    height: 200px;
    text-transform: lowercase;
    &-text {
        margin: auto;
        padding: 8px;
        background-color: #faebd7;
        border-radius: 4px;
    }
}

@include for-small {
    .container {
        display: flex;
    }
    .block {
        flex: 1;
    }
}

@include for-medium {
    .page {
        display: flex;
    }
    .block {
        width: 33.333333vw;
    }
}