* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.spinner {
    margin: auto;
}

.circle {
    display: flex;
    margin: auto;
    width: 50px;
    height: 50px;
    border: 4px solid lightgray;
    border-radius: 50%;
    margin-bottom: 8px;
    border-top-color: black;
    animation: progress 2s infinite linear;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite linear;
    line-height: 20px;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes progress {
    0% {
        transform: rotate(45%);
    }
    100% {
        transform: rotate(360deg);
    }
}