.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    margin: auto;
    max-width: 100%;
    position: absolute;
}

.image-button {
    position: absolute;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 700;
    text-align: center;
    margin-top: 15%;
}

.image-button:hover {
    opacity: 1;
    background-color: bisque;
    cursor: pointer;
}