.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    margin: auto;
    max-width: 100%;
}

.image-button {
    margin: 0;
    position: absolute;
    width: 200px;
    height: 50px;
    line-height: 51px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-button:hover {
    opacity: 1;
}