* {
    box-sizing: border-box;
}

.awesome {
    line-height: 0;
    display: flex;
    justify-content: space-around;
}

.icon1 {
    font-size: 16px;
}

.icon2 {
    font-size: 32px;
}

.icon3 {
    font-size: 64px;
}

.icon4 {
    font-size: 128px;
}

.icon5 {
    font-size: 256px;
}